.footer {
    display: flex;
    justify-content: space-between;
}
.footer__block {
    margin-top: 24px;
    width: 31%;
    height: 180px;
    box-sizing: border-box;
   
    overflow: hidden;

    background-color: #777;
   

}
.left-block {
padding: 16px 26px 0 26px;

column-width: 77px;
}
.left-block__paragraph {
 margin: 0 0 6px 0;

 color: aliceblue;
 font-size: 14px;
 font-family: Arial, sans-serif;
}
.center-block {
    padding: 23px 35px;
}
.center-block__paragraph {
    display: block;

    position: relative;
    margin-bottom: 5px;
    margin: 0;
  
    font-size: 14px;
    color: aliceblue;
    font-family: Arial, sans-serif;
    text-decoration: none;

}
.center-block__paragraph::before{
    content: "";
    display: block;

    width: 6px;
    height: 6px;
    background-color: aliceblue;

    position: absolute;
    top: 7px;
    left: -12px;
}
.right-block{
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__element {
    background-color: #777;
    
    width: 100%;
    height: 40px;
    height: 75px;
}
@media (max-width: 850px){
    .left-block {
        column-width: 55px; 
    }
}
@media (max-width:700px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
    .footer__block {
        width: 100%;
    }
    .right-block{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;

    }

}