.main-content-container {
    display: flex;
    margin-top: 25px;
}

.main-content-container__left-bar {
  padding: 16px 13px;
    width: 19%;
    height: fit-content;

    background-color: #777777;

}

.left-bar__title {
    display: block;

    margin: 0;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: aliceblue;

}

.left-bar__link {
    display: block;

    text-decoration: none;
    color: aliceblue;
    line-height: 1.7;
}

.main-content-container__center {

    margin-left: 20px;
    width: 81%;
}

.center-container__title {
    background-color: #DCDCDC;
}

.center-title {
    padding: 20px;

    color: #777777;
}

.center-title__title {
    font-size: 14px;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.center-title__list {
    list-style: none;
}

.center-title__list li::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;

    background-color: #777777;

    position: relative;
    left: -8px;
    top: 11px;

}

.center-container__blocks {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
 
}

.center-container__block {
    background-color: #DCDCDC;

    height: 150px;

}

.center-container__text {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
 
}

.center-container__text-block {
    padding: 25px 20px;
    margin-bottom: 24px;
    width: 43%;
    height: 210px;

    background-color: #DCDCDC;

    color: #777777;
    font-weight: 400;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;

    overflow: hidden;
    text-overflow: ellipsis;

}

@media (max-width: 900px) {
    .center-container__blocks {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 750px) {
    .center-container__blocks {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {

    .main-content-container {
        display: block;
        width: 100%;
    }

    .main-content-container__left-bar {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .center-container__blocks {
        grid-template-columns: repeat(2, 1fr);

    }

    .main-content-container__center {
        width: 100%;
        margin: 0;
    }
}